<h1>Edit customer</h1>

<%= render "form", customer: @customer %>

<br />

<div>
  <p>
    <%= link_to "Show customer", @customer, class: "btn btn-primary btn-sm" %>
  </p>
  <p>
    <%= link_to "Back to customers", customers_path, class: "btn btn-primary btn-sm" %>
  </p>
</div>
